# Compilados de Java
/target/
*.class

# Configuración de IDEs
.idea/
.vscode/
*.iml

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos sensibles
src/main/resources/application.properties
.env

# Logs
*.log
