# ====================
# Archivos compilados y de build
# ====================
/target/
build/
*.class

# ====================
#  Archivos de configuración de IDE
# ====================
.idea/
.vscode/
*.iml
*.iws
*.ipr
.classpath
.factorypath
.project
.settings
.apt_generated
.sts4-cache

# ====================
#  Archivos sensibles y de configuración privada
# ====================
src/main/resources/application.properties
.env
*.log

# ====================
#  Archivos de sistema
# ====================
.DS_Store
Thumbs.db

# ====================
#  Excepciones si aplican (opcional)
!**/src/main/**/build/
!**/src/test/**/build/
!**/src/main/**/target/
!**/src/test/**/target/
